* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #594545;
    color: #FFF8EA;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 900;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}

.info {
    display: flex;
    justify-content: center;
    gap: 3em;
}

#game-info {
    margin: 2em;
    height: 30px;
    font-size: 2em;
}

#selection-display {
    margin:0.5em;
    display: flex;
    align-items: center;
}

#score-display{
    margin: 0.5em;
}

button{
    background-color: #9E7676;
    border: none;
    color: #FFF8EA;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#selection {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: unset;
}

.display {
    height: 150px;
    width: 150px;
    padding: 0;
    background-color: var(--background-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    --background-color : #9E7676;
    --border-size: 2px;
}

#computer-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: auto;
    width: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.score {
    text-align: center;
    margin-bottom: 30px;
}

#vs {
    height: unset;
    width: unset;
    background-color: unset;
}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection > button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
}

#selection > button:hover::before, 
#selection > button:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    transition: top, left, bottom, right, 100ms ease-in-out;
}

#selection > button:focus::before {
    border: var(--border-size) solid #FFF8EA;
}
